*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  background: #f7f7f7;
  color: #333;
}

/* App Layout */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  flex: 1; 
  padding-bottom: 20px;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #007bff;
  padding: 12px 20px;
  color: white;
  position: relative;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: all 0.2s;
}

.nav-links a:hover {
  transform: scale(1.1);
}

.menu-btn {
  display: none;
  background: none;
  border: none;
  font-size: 22px;
  color: white;
  cursor: pointer;
}


/* School Form */
.school-form{
  max-width: 400px;
  margin: 40px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.school-form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

form button {
  width: 100%;
  padding: 10px;
  margin-top: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

form button:hover {
  background: #0056b3;
}

span {
  color: red;
  font-size: 12px;
}


/* School Card */
h2 {
  text-align: center;
  margin: 20px 0;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.school-card {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  overflow: hidden;
  transition: transform 0.2s;
  width: 250px;
}

.school-card:hover {
  transform: translateY(-4px);
}

.school-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.school-card h3 {
  margin: 10px;
  font-size: 18px;
}

.school-card p {
  margin: 0 10px 15px;
  font-size: 14px;
  color: #555;
}


/* Footer */
.footer {
  background: #007bff;
  color: white;
  text-align: center;
  padding: 12px 0;
  margin-top: auto;
}

.footer p {
  margin: 0;
  font-size: 14px;
}

/* Responsiveness */
@media (max-width: 600px) {
  .menu-btn {
    display: block;
    z-index: 1001; 
  }

  .school-card {
    width: 100%;
    max-width: 350px; 
  }

  .nav-links {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: 0;
    right: -250px; 
    width: 200px;
    height: 100%;
    background: #007bff;
    padding: 60px 20px;
    border-radius: 8px 0 0 8px;
    box-shadow: -2px 0 6px rgba(0,0,0,0.2);
    transition: right 0.3s ease-in-out;
  }

  .nav-links.open {
    right: 0; 
  }

  .nav-links a {
    font-size: 18px;
  }
}